html, body{
    height: 99.5%;
    margin: 0;
    padding: 0;
    
}
body {
    background: #E6E6E6;
}
.layer path {
    fill: none;
    vector-effect: non-scaling-stroke;
}
#map{
    height: 100%;
}
#headerWrapper{
    float: left;
    width: 100%;
}
#mapSwitcher{
    float: left;
}
#mapSwitcher a{
    
}
#user{
    float: left;
    font-weight: bold;
    padding-left: 50px;
}
#myBalloon{
    width: 100px;
    height: 50px;
    background: #ffffff;
    display: none;
}