#id0{
    fill: #0a006f;
}
#id1{
    fill: #0d008e;
}
#id2{
    fill: #0e00a4;
}
#id3{
    fill: #1505ba;
}
#id4{
    fill: #1805d4;
}
#id5{
    fill: #4e3df5;
}
#id6{
    fill: #6e61f7;
}
#id7{
    fill: #a79ffa;
}
