#id0{
    fill: #0000ff;
}
#id1{
    fill: #00ff00;
}
#id2{
    fill: #00ffff;
}
#id3{
    fill: #ff0000;
}
#id4{
    fill: #ff00ff;
}
#id5{
    fill: #ffff00;
}
#id6{
    fill: #f0f0f0;
}
#id7{
    fill: #0f0f0f;
}
